extends layout

block content
  h1 Lung x Ray
  p.lead Lung Disease Detection with Deep Learning via X-Ray
  hr
  .row
    .col-sm-6
      h2 Detector
      Ask the most cutting-edge specialised neural network for an opinion.
      p
        a.btn.btn-default(href='/detector', role='button') Ask »
    .col-sm-6
      h2 Contribution
      Contribute back by diagnosing submitted photos and earned credits!
      p
        a.btn.btn-default(href='/contribute', role='button') Contribute »